/DVORANA_TABOR.json
/EUROPARK___POBREŠKA_C_.json
/GORKEGA_UL____OŠ_FRANCETA_PREŠERNA.json
/GOSPOSVETSKA_C____III__GIMNAZIJA.json
/GOSPOSVETSKA_C____TURNERJEVA_UL_.json
/GOSPOSVETSKA_C____VRBANSKA_C_.json
/JHMB___DVOETAŽNI_MOST.json
/KOROŠKA_C____KOROŠKI_VETER.json
/LIDL___KOROŠKA_C_.json
/LIDL___TITOVA_C_.json
/LJUBLJANSKA_UL____FOCHEVA.json
/LJUBLJANSKA_UL____II__GIMNAZIJA.json
/MLADINSKA_UL____TRUBARJEVA_UL_.json
/MLINSKA_UL_____AVTOBUSNA_POSTAJA.json
/NA_POLJANAH___HEROJA_ŠERCERJA.json
/NICEHASH___C__PROLETARSKIH_BRIGAD.json
/NKBM___TRG_LEONA_ŠTUKLJA.json
/PARTIZANSKA_C____CANKARJEVA_UL_.json
/PARTIZANSKA_C____TIC.json
/PARTIZANSKA_C____ŽELEZNIŠKA_POSTAJA.json
/PETROL___LENT___VODNI_STOLP.json
/POŠTA___SLOMŠKOV_TRG.json
/RAZLAGOVA_UL____OBČINA.json
/SPAR___TRŽNICA_TABOR.json
/STROSSMAYERJEVA_UL____TRŽNICA.json
/TELEMACH___GLAVNI_TRG___STARI_PERON.json
/ULICA_MOŠE_PIJADA___UKC.json
/UM_FGPA___LENT___SODNI_STOLP.json
/VZAJEMNA__VARUH_ZDRAVJA___BETNAVSKA_C_.json
